*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 20px;
}


table {
    width: 1000px;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}

table tr th {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}

table tr td {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}